h1 {
	margin: 0;
	padding: 0.35rem 0.55rem;
	width: max-content;
	position: relative;
	font-size: 3.75rem;
	line-height: 1.1;
	white-space: pre-line;

	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}
